.res-card-wrapper{
    padding: 20px;
    border: 1px solid transparent;
    /* width: 300px; */
    text-align: center;
    background-color: #f0f0f0;
    
}

.res-card-wrapper:hover .card img{
    /* border: 1px solid black; */
    transform: scale(1.1);
}


.card{
    width: 90%;
    margin: 0 auto;
    transition: 0.6s ease;
}

.card img{
    width: 100%;
}
